.wrapper{
	display: flex;
	margin: 0 auto;
	background-image: url("background.jpg");
	height:650px;
	flex-direction:column;

}
.navigation-bar{
	display: flex;
	width:60%;
	height:40px;
	justify-content:space-around;
	align-items: center;
	margin:0 auto;
	background-color:rgba(180, 180, 180, 0.3);
}
a{
	text-decoration: none;
	color:black;
}
.active{
	color:white;
}

.body{
	display: flex;
	flex-direction:column;
	align-self:center;
	margin-top: 10px;
	width:60%;
	background-color:rgba(0, 0, 0, 0.6); 
}
p{
	color:#e6e6e6;
	opacity:0.8;
	font-family:saab;
	font-size: 15px;
	padding:0px 10px;
	}